<script src=http://cad-dms04/appweb/init/doc/jquery.js></script>
<script src=http://cad-dms04/appweb/init/doc/render.js></script>
<script src=http://cad-dms04/appweb/init/doc/marked.js></script>

Este es un documento nuevo creado con template sintipo.templ. Esta disponible el "motor" de persistencia" ( persist.php ), por lo tanto cada parrafo puede editarse con los botones e(editar) v(insertar abajo) ^(insertar arriba) d(borrar). Para opciones de formateo usar los tags mencionados en la [ayuda](../ayuda.html#tags) y la [sintaxis](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet) [markdown](http://support.mashery.com/docs/customizing_your_portal/Markdown_Cheat_Sheet)
